{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projects_list.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/projects_list.js' %}"></script>
{% endblock %}

{% block page_header %}Projects{% endblock %}

{% block content %}
<div id="main-container">
    <div id="top-nav-actions">
        <a href="{% url 'projects_list' %}"
            class="btn-link {% if request.resolver_match.url_name == 'projects_list' %}btn-inactive{% endif %}">
            <i class="fas fa-plus" style="margin-right: 5px"></i>
            Explore Projects
        </a>

        <a href="{% url 'projects_add' %}"
            class="btn-link {% if request.resolver_match.url_name == 'projects_add' %}btn-inactive{% endif %}">
            <i class="fas fa-history" style="margin-right: 5px"></i>
            Add Project
        </a>
    </div>


    <div id="table-container" class="container">
        <h3>Projects History</h3>
        <br>
        <form method="GET" action="{% url 'projects_list' %}" class="p-3 mb-4 bg-light rounded shadow-sm">
            <div class="form-row">
                <div class="input-col">
                    <label class="small fw-bold"><i class="fas fa-search me-1"></i>Project Name</label>
                    <input type="text" name="project" class="form-control form-control-sm" placeholder="Search..."
                        value="{{ request.GET.project }}" />
                </div>

                <div class="input-col">
                    <label class="small fw-bold"><i class="fas fa-user-tie me-1"></i>Field Manager</label>
                    <select name="field_manager" class="form-select form-select-sm">
                        <option value="">-- All Managers --</option>
                        {% for m in managers_list %}
                            <option value="{{ m.field_manager__id }}" 
                                {% if request.GET.field_manager == m.field_manager__id|stringformat:"i" %}selected{% endif %}>
                                {{ m.field_manager__name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-col">
                    <label class="small fw-bold"><i class="fa-solid fa-strikethrough"></i>Type</label>
                    <select name="project_type" class="form-select form-select-sm">
                        <option value="">-- All Types --</option>
                        {% for val, name in project_types %}
                        <option value="{{ val }}" {% if request.GET.project_type == val %}selected{% endif %}>{{ name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-col">
                    <label class="small fw-bold"><i class="fa-solid fa-bars-progress"></i>Status</label>
                    <select name="status" class="form-select form-select-sm">
                        <option value="">-- All Status --</option>
                        {% for val, name in status_choices %}
                        <option value="{{ val }}" {% if request.GET.status == val %}selected{% endif %}>{{ name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-col">
                    <label class="small fw-bold"><i class="fas fa-calendar-alt me-1"></i>Date</label>
                    <input type="date" name="date" class="form-control form-control-sm"
                        value="{{ request.GET.date }}" />
                </div>

            </div>
            <hr>
            <div class="btn-row">
                <div class="form-btn-container">
                    <a href="{% url 'projects_list' %}" class="btn btn-secondary btn-sm" title="Reset">Clear</a>
                    <button type="submit" class="btn btn-primary btn-sm w-100">Filter</button>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table>
                <thead>
                    <th>Project Name</th>
                    <th>Field Manager</th>
                    <th>Project Type</th>
                    <th>Created at</th>
                    <th>Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><strong>{{ project.name }}</strong></td>
                        <td>{{ project.field_manager.full_name|default:project.field_manager.name }}</td>
                        <td>
                            <span class="badge bg-info text-dark">
                                {{ project.get_project_type_display }}
                            </span>
                        </td>
                        <td>{{ project.created_at|date:"Y-m-d H:i" }}</td>
                        <td>
                            {% if project.is_completed == 'completed' %}
                            <span class="badge bg-success">Completed</span>
                            {% else %}
                            <span class="badge bg-warning text-dark">Ongoing</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'projects_edit' project.id %}" class="btn-edit" title="Edit Project" target="_blank">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </a>
                            <a href="{% url 'projects_download_files' project.id %}" class="btn-edit" title="Download Files">
                                <i class="fa-solid fa-pen-to-square"></i> Dowanload Files
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center text-muted py-4">No projects found.</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

{% endblock %}